PORT=5000
MONGO_URI=mongodb://agunbiadeadeshola58:ADESHOLA%402007@ac-emqyzwj-shard-00-00.82gyyyn.mongodb.net:27017,ac-emqyzwj-shard-00-01.82gyyyn.mongodb.net:27017,ac-emqyzwj-shard-00-02.82gyyyn.mongodb.net:27017/restaurant?ssl=true&replicaSet=atlas-emqyzwj-shard-0&authSource=admin&retryWrites=true&w=majority